{{! Maintainers - Stuart Nicholls}}
{{#if _isDesktop}}

<div class="article-reveal-inner {{_articleReveal._classes}}" style="height:{{_articleReveal._height}}px; {{#if _articleReveal._backgroundImage}} background: url('{{_articleReveal._backgroundImage}}') center top no-repeat; {{/if}}"  role="region" aria-label="{{_articleReveal._ariaRegions.articleReveal}}">
  	
  	
  
  	<a href="#" class="article-reveal-open-button" style="top:{{_articleReveal._triggerPosition._top}}%; left:{{_articleReveal._triggerPosition._left}}%;" role="link" aria-label="{{_articleReveal._ariaLabels.openArticle}}">
  	
	<div class="article-reveal-open-button-icon icon icon-plus"></div>
	
	<span class="article-reveal-open-button-text">{{_articleReveal._icon-text}}</span>
  
  	</a>
  	
  	<div class="article-reveal-text-block" style="top:{{_articleReveal._triggerPosition._top}}%; left:{{_articleReveal._triggerPosition._left}}%;">
  		<div class="article-reveal-text-block-inner" >
			<span class="article-reveal-heading-text">{{_articleReveal._heading-text}}</span>
			<span class="article-reveal-body-text">{{_articleReveal._body-text}}</span>
			<span class="article-reveal-instruction-text">{{_articleReveal._instruction-text}}</span>
  		</div>
  	</div>
  	
  <a href="#" class="article-reveal-close-button" role="link" aria-label="{{_articleReveal._ariaLabels.closeArticle}}">
	  <div class="article-reveal-close-button-icon icon icon-minus"></div>
	  <span class="article-reveal-close-button-text">{{_articleReveal._closeButtonText}}</span>
  </a>
</div>

{{else}}

<div class="article-reveal-inner {{_articleReveal._classes}}" style="height:{{_articleReveal._mobileHeight}}px; {{#if _articleReveal._mobileBackgroundImage}} background: url('{{_articleReveal._mobileBackgroundImage}}') center top no-repeat; {{/if}}" role="region" aria-label="{{_articleReveal._ariaRegions.articleReveal}}">
  	
  	
  
  	<a href="#" class="article-reveal-open-button" style="top:{{_articleReveal._mobileTriggerPosition._top}}%; left:{{_articleReveal._mobileTriggerPosition._left}}%;" role="link" aria-label="{{_articleReveal._ariaLabels.openArticle}}">
		<div class="article-reveal-open-button-icon icon icon-plus"></div>
		
		<span class="article-reveal-open-button-text">{{_articleReveal._icon-text}}</span>
		
	 	
  	</a>
  	
  	<div class="article-reveal-text-block" style="top:{{_articleReveal._mobileTriggerPosition._top}}%; left:{{_articleReveal._mobileTriggerPosition._left}}%;">
		<div class="article-reveal-text-block-inner" >
			<span class="article-reveal-heading-text">{{_articleReveal._heading-text}}</span>
			<span class="article-reveal-body-text">{{_articleReveal._body-text}}</span>
			<span class="article-reveal-instruction-text">{{_articleReveal._instruction-text}}</span>
		</div>		
	</div>
	
  	<a href="#" class="article-reveal-close-button" role="link" aria-label="{{_articleReveal._ariaLabels.closeArticle}}">
	  	<div class="article-reveal-close-button-icon icon icon-minus"></div>
	  	<span class="article-reveal-close-button-text">{{_articleReveal._closeButtonText}}</span>
  	</a>
</div>
{{/if}}